.queues {
    width: 300px; 
    background-color: white;
    font-size: 8pt;
}

#treecontainer {  
    height: 450px;
    border: 0px solid #3c5e8b; 
    overflow-y: scroll; 
}

.k-treeview-lines {
    border: 0px solid purple; // debugging  - can be deleted
    width: 100%;
//    height: 900px;
    }

.k-treeview-lines .k-mid .k-in {
    border: 0px solid green;  // debugging  - can be deleted
    width: 100%;
    }

.k-treeview-lines .k-mid .k-in .custom-right {
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 2px;
    border: 0px solid red;   // debugging  - can be deleted
    } 

.k-treeview-lines {
    font-size: 8pt;
    line-height: 4pt;
    
}

