<div class="error">{{errorMessage}}</div>
<div class="workOrderQueues">
    <div class="boxtitle">
        <div class="innerborder">
            <span class="boxtext"> Queues</span>
        </div>
    </div>
    <!-- Developemnt debugging...
    <span class="debug" style="display:inline-block;">
            (debug) Nodes Selected: {{selectedKeys.join()}}
                    Expanded: {{expandedKeys.join(",")}}
                    <br>UserId: {{userId}}
                    <br>UserName: {{userName}}
    </span>
     -->
    <div #ktree class="treecontainer">
        <kendo-treeview style="font-size: inherit;"
            [nodes]="queues"
            textField="Caption" 
            childrenField="Children"    
            [hasChildren]="hasChildren" 
            [children]="fetchChildren"        
            kendoTreeViewExpandable          
            [kendoTreeViewSelectable]="{ mode: 'single' }"
            [(selectedKeys)]="selectedKeys"
            [(expandedKeys)]="expandedKeys"            
            (selectionChange)="onSelect($event)"            
        >
        <ng-template kendoTreeViewNodeTemplate let-dataItem>
                <span [ngClass]="iconClass(dataItem)"></span>
                <span>{{dataItem.Caption}}</span>
                <span class="custom-right">[{{dataItem.Count}}]</span>
        </ng-template>
        </kendo-treeview>
    </div>
</div>    
