.workOrderQueues {
    width: 300px; 
    height: 100%;
    background-color:white;
    font-size: 8pt; 
    border: 0px dotted black;  // layout debugging - this may be deleted
}

div.treecontainer {  
    border: 0px solid #3c5e8b;  
}

.k-treeview-lines {
    border: 0px solid purple;  // layout debugging  - this may be deleted
    width: 100%;
    height: 485px;
    }

.k-treeview-lines .k-mid .k-in {
    border: 0px solid green;   // layout debugging  - this may be deleted
    width: 100%;
    }

.k-treeview-lines .k-mid .k-in .custom-right {
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 2px;
    border: 0px solid red;    // layout debugging  - this may be deleted
    } 

.k-treeview-lines {
    line-height: 4pt;    
}

.k-treeview .k-in.k-state-selected {
    background-color: lightgrey;
    color: black;
    border: 1px solid lightgray;
}

