
<div>{{errorMessage}}</div>
<div class="debug">
  (debug) Nodes Selected: {{selectedKeys.join()}}
          Expanded: {{expandedKeys.join(",")}}
          <br>UserId: {{userId}}
          <br>UserName: {{userName}}
</div>
<div class="queues">
    <div class="boxtitle">
        <div class="innerborder">
            <span class="boxtext"> Queues</span>
        </div>
    </div>
    <div #ktree id="treecontainer">
        <kendo-treeview
            [nodes]="queues"
            textField="Caption"
            childrenField="Children"    
            [hasChildren]="hasChildren" 
            [children]="fetchChildren"        
            kendoTreeViewExpandable          
            [kendoTreeViewSelectable]="{ mode: 'single' }"
            [(selectedKeys)]="selectedKeys"
            [(expandedKeys)]="expandedKeys"            
            (selectionChange)="treeViewSelectionChanged($event)"            
        >
        <ng-template kendoTreeViewNodeTemplate let-dataItem>
                <span [ngClass]="iconClass(dataItem)"></span>
                <span>{{dataItem.Caption}}</span>
                <span class="custom-right">[{{dataItem.Count}}]</span>
        </ng-template>
        </kendo-treeview>
    </div>
</div>
