.workOrderList {
    background-color:white;   
}

.overdue {
    background-color: white;     // change to color:red; when the rowClass issue in grid is fixed
}

.k-grid {
    height: 513px;   
}

.k-alt .k-master-row {
    background-color: white;
}

.k-detail-cell {
    background-color: white; 
}

.k-grid tr {
    background-color: white; 
 }

.k-detail-row .k-alt {
    background-color: white; 
    color: blue;
}

.k-hierarchy-cell a  {
    border: 0px solid red;  // debugging
}
