<div class="error">{{errorMessage}}</div>
<div class="workOrderNotes">
    <div class="boxtitle">
        <div class="innerborder">
            <span class="boxtext">{{selectedWorkOrder}} Notes id:{{userNetworkId}}</span>
        </div>
    </div>
    <kendo-grid #notesgrid 
        [data]="workordernotes" 
        (rowClass)="hideExpansionIndicator"     
        style="font-size: inherit;">
        <kendo-grid-column field="DateDue" title="Input Date Time" width="40">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.DateEntered | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>        
        <kendo-grid-column field="WorkOrderNumber" title="WO#" width="40"></kendo-grid-column>
        <kendo-grid-column field="InputUserId" title="Entered By" width="40"></kendo-grid-column> 
        
            <div *kendoGridDetailTemplate="let dataItem">    
                {{dataItem.Detail.Description}}
            </div>         
        
    </kendo-grid>      
</div>