<div class="error">{{errorMessage}}</div>
<div class="workOrderList">
    <div class="boxtitle">
        <div class="innerborder">
            <span class="boxtext">Work Orders - {{selectedQueue}} id:{{userNetworkId}}</span>
        </div>
    </div>
    <kendo-grid #listgrid 
        [data]="workorderlist" 
        [selectable]="true"
        (selectionChange)="onRowSelected($event)"  
        (rowClass)="hideExpansionIndicator"     
        style="font-size: inherit;">

        <kendo-grid-column field="WorkOrderType" title="*" width="10"></kendo-grid-column>
        <kendo-grid-column field="WorkOrderType" title="*" width="10"></kendo-grid-column>
        <kendo-grid-column field="WorkOrderType" title="*" width="10"></kendo-grid-column>
        <kendo-grid-column field="WorkOrderNumber" title="WO#" width="40"></kendo-grid-column>
        <kendo-grid-column field="UserFullName" title="Assigned To" width="40"></kendo-grid-column> 
        <kendo-grid-column field="DateDue" title="Due Date" width="30">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.DateDue | date:'shortDate'}}
            </ng-template>
        </kendo-grid-column>

        <ng-template kendoGridDetailTemplate let-dataItem>
        <section *ngIf="dataItem.Detail">
            {{dataItem.Detail.Description}}                 
        </section>
        </ng-template>

        <ng-template kendoGridNoRecordsTemplate>
                There are are no items to show in this queue.
        </ng-template>
    </kendo-grid>      
</div>