.workOrderList {
    font-size: 8pt;         
}

.k-grid {
    height: 510px;
    font-size: 8pt;
}

.k-grid tr.even {
     background-color:white; 
}

.k-grid tr.odd {
     background-color: white; 
}