<div class="error">{{errorMessage}}</div>{{workOrderNumber}}
<div class="workOrderActivity">
    <div class="activitylist" *ngIf="haveActivities">
        <div class="itemsheader">
            <span class="header col1">Input Date Time</span>
            <span class="header col2">Work Order #</span>
            <span class="header col3">Entered By</span>
        </div>
        <div class="item" *ngFor="let activity of workorderactivities">
            <span class="col1">{{activity.DateTimeInput | date:'M/d/yyyy h:mm:ss a'}}</span>
            <span class="col2">{{activity.WorkOrderNumber}}</span>
            <span class="col3">{{activity.EnteredByUID}}</span><br> 
            <span class="itemtext" [innerHtml]="activity.Text | nl2br"></span>
        </div>                     
    </div>    
</div>