#treecontainer { width: 400px; border: 5px dotted black; overflow:hidden; }
div { border: 2px solid blue; }
span { border: 3px solid green; }
span:nth-of-type(3) {border: 3px solid red; float:right;}
      