<img class="logo" src="./assets/logo.png" alt="e-ins logo"><span class="apptitle">Web Work Order System</span>

<div class= "appframe">
  <div class="leftpanel">
    <app-queues (selectedQueue)='onSelectedQueueChanged($event)'>

    </app-queues>
  </div>   
  <div class="middlepanel">    
    <app-workorderlist [selectedQueueName]='selectedQueueName'
                       [selectedQueueId]='selectedQueueId'  
                       [userNetworkId]='userNetworkId'
                       (selectedWorkOrder)='onSelectedWorkOrderChanged($event)'>
    </app-workorderlist>
  </div>
  <div class="rightpanel">
    <app-workorderactivity [selectedWorkOrder]='selectedWorkOrder'
                        [userNetworkId]='userNetworkId'>
    </app-workorderactivity>
  </div>
</div>
<div class="statusbar">
    <div class="itemcount">{{selectedQueueItemCount}} Items</div>
    <div class="loggedinas">Walter Sully</div>
    <div class="currentdate">{{today | date:short}}</div>
  </div>