<img class="logo" src="./assets/logo.png" alt="e-ins logo"><span class="apptitle">Web Work Order System</span>

<div class= "appframe">
  <div class="leftpanel">
    <app-queues (selectedNodeChanged)='onQueueSelectedItem($event)'></app-queues>
  </div>   
  <div class="middlepanel">
    <app-workorderlist [focusQueue]='nodeData'></app-workorderlist>
  </div>
  <div class="rightpanel">
    detail component will go here
  </div>
</div>


  <!-- Set-up to listen for events from children components -->
  <div class="test">
    <!-- testing of angular events -->

  </div>