<kendo-window [minHeight]="450" [minWidth]="800" title="{{windowTitle}}" style="font:inherit;"
  *ngIf="dialogOpened"
  (dragStart)="onDragStart()"
  (dragEnd)="onDragEnd()"
  (resizeStart)="onResizeStart()"
  (resizeEnd)="onResizeEnd()"
  (stateChange)="onStateChange($event)"
  (close)="onClose()"  
>
    <kendo-tabstrip (tabSelect)="onTabSelect($event)" style="font:inherit;">
        <kendo-tabstrip-tab [title]="'Work Order Information'" [selected]="true">
            <ng-template kendoTabContent>
                <div class="input-box">
                    <form class="k-form-inline" style="font:inherit;">                                                   
                        <label class="k-form-field">
                            <span>WO Number:</span>
                            <input class="k-textbox" placeholder="" />
                        </label>
                        <label class="k-form-field">
                            <span>Entered By:</span>
                            <input class="k-textbox" placeholder="" />
                        </label>                                                                      
                    </form>                    
                </div>
                <div class="assigned-box">

                </div>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Attachments'">
            <ng-template kendoTabContent>
                <p>
                Attachements
                </p>
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'Developer Code Comments'">
            <ng-template kendoTabContent>
                <p>
                        Developer Code Comments
                </p>
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'QA Communications'">
            <ng-template kendoTabContent>
                <p>
                    QA Communicationschements
                </p>
            </ng-template>
        </kendo-tabstrip-tab>

    </kendo-tabstrip>
</kendo-window>
