@import "../variables";

kendo-window-titlebar {
    padding: 0 px;
}

.k-window-title {
    font-size: $font-size;
}

.k-tabstrip-items {
    font-size: $font-size;
}

.input-box {
    display: inline-block;
    width: 350px;
    border: 1 solid red;
    border-radius: 5px;
}

.assigned-box {
    display: inline-block;
    width: 350px;
    border: 1 solid blue;
    border-radius: 5px;
}

fieldset {
    font-size: $font-size;
    font-weight: bold;
    padding: 0 px;
    width: 250px;
}

legend {
    font-size: .5em;
    font-weight: bold;
}

.k-form-field input {
    font-weight: normal;
    width: 200px;
    line-height: 14pt;
}

.k-form-field span {
    font-weight: normal;
    width: 200px;
    line-height: 14pt;

}



