@import "../../../variables.scss";

.workOrderList {
    background-color:white;   
}

.overdue {
    background-color: white;     // change to color:red; when the rowClass issue in grid is fixed
}

// Kendo Component overrides

// remove fat...
.k-grid td,  .k-grid th {
    padding:0;
}

// remove borders from grid...

.k-grid {
    height: 515px;   
}

.table-header-cell {
    background-color: black;
}

.k-alt .k-master-row {
    background-color: white;
}

.k-detail-cell {
    background-color: white; 
    border: 2px solid green;
}

.k-grid tr {
    background-color: white; 
 }

.k-detail-row .k-alt {
    background-color: white; 
    color: blue;
}

.k-hierarchy-cell a  {

    border: 0px solid red;  // debugging
}
