@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@progress/kendo-theme-bootstrap/";

// application scope SCSS

body {
    margin-left:50px;   
    font-size: 8pt;
}
.error {
    display: inline;
    color: red;
    background-color: white;
}
.logo {
    height: 20px;
    width: 18px;
    padding-bottom: 6px;

}
.apptitle{
    color: #538ed1;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    margin-left: 4px;
}
